body {
    font-family: 'Inter', sans-serif;
    color: rgba(0, 0, 0, 0.92)
}

html, body {
    overflow: hidden;
  }

#widget {
    height:100%;
    width: 100%;
        display:flex;
        flex-direction: column;
        height: 100vh; /* Make the container fill the viewport height */
    max-width: 800px;
    right: 0%;
    position: fixed;
    bottom: 0;
    
}

#header {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    text-align: left;
    width: 100%;
    z-index: 5;
    height: 78px;
    transform: translateY(-5px);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.173);
    position:fixed;
top: 0;
max-width: 800px;

    
}

.list-group-item {
    background-color: transparent 
}



#footer {
    position:fixed;
    bottom: 0; /* Adjust for the safe area at the bottom */
    right: 0px;
    height: 145px;
    text-align: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    padding-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.161);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-width: 800px;
    z-index: 5;

}



#chat {
    position:fixed;
    top: 0px;
    padding-top: 25px;
    width: 100%;
    overflow: scroll;
    padding-bottom: 150px;
    height: 100vh;
    padding-top: 89px;
    max-width: 800px;
    scrollbar-width: none; /* Hide the scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar in IE/Edge */
     
}

/* Optional: Style the scrollbar for Webkit (Chrome, Safari) */
#chat::-webkit-scrollbar {
    width: 0 
}

.ai-msg {
    background-color: rgb(241, 241, 240);
    border-radius: 15px;
    width: auto; 
    max-width: 55%;
    float:left;
    font-size: 13px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 16px;
    clear:both;
    margin-bottom:7px;
    z-index: 1;
  
}

.user-msg {
    clear:both;
    background-color: rgb(0, 123, 255);
    color: rgba(255, 255, 255, 0.944);
    border-radius: 15px;
    width: auto;
    float:right;
  
    margin-bottom:7px;
    max-width: 55%;
    font-size: 13px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 6px;
}



#logo {
    height: 40px;
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    margin-bottom: 10px
}

#name {
    vertical-align: middle;
    font-size: 14px;    
    margin-bottom: 0px;
    
}

#response-time-msg {
    font-size: 11px;
    opacity: 80%;
    margin: 0;
    margin-bottom: 2.5px;
    margin-right: 25px;
}

#msg-input {
    width: 100%;
    height: 80%;
    font-size: 13px;
    border:none;
    padding-top: 5px;
    padding-bottom:5px;
    background-color: transparent
}

#msg-input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

#send-icon {
    height: 15px;
    margin-left: 0px;
    opacity: 90%;
}


.yacht-card {
    margin-left: 16px !important;
    margin-bottom: 5px;
    border-radius: 16px;
    background-color: rgb(241, 241, 240);
    border:none;
    float:left;
    clear:both
}

.yacht-image {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
.card-body {
    font-size: 13px;
    padding:1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 14px;
    padding-right:13px
}

.card-text {
    margin-bottom: 12px;
    opacity: 85%;
    display:flex;
    align-items: center;
}

.see-more-btn {
    font-size: 13px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    border-radius: 10px;
}

#send-btn {
    background-color: transparent;
    border:none
}

#send-icon-container {
    height: 36px;
    width: 36px;
    display: flex;align-items: center;margin-right: 12px;background-color:rgb(0, 123, 255);padding: 10px;border-radius: 50%;padding-left: 12px;padding-right: 12px
}

#send-icon-container:hover {
    cursor: pointer;
}





.loader {
    text-align: center;    
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    background: black;
    border-radius: 50px;
    animation: loader 1.3s infinite alternate;
}
.loader span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}


.single-img {
    width: 13rem;
    margin-left: 15px;
    border-radius: 15px;
    margin-bottom: 5px;
    float:left;
    clear:both
}

#suggested-questions{
    white-space: nowrap; /* Prevent line breaks */
    overflow-x: scroll;
    position:absolute;
    bottom: 47px;
    width: 100%;
    max-width: 450px;
    padding-left: 5px !important;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    scrollbar-width: none; /* Hide the scrollbar in Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar in IE/Edge */
    max-width: 790px !important;
}

.simplebar-content {
    padding-left: 0px !important;
    max-width: 450px !important;
    margin-right: 30px !important
}

#suggested-questions-headline {
    padding-bottom: 15px;
    padding-left: 8px;
    position:absolute;

    bottom: 97px;
;
}






/* Optional: Style the scrollbar for Webkit (Chrome, Safari) */
#suggested-questions::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar in Webkit browsers */
  }

.suggested-question {
    background-color: rgba(241, 241, 240, 0.25);
    margin-left: 0px; margin-right: 8px;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
    border-radius: 15px;
    z-index: 5;
    border:1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.92)
}

.suggested-question:hover {
    cursor: pointer;
}

@media (min-width: 501px) {
   

    #suggested-questions{

        padding-left: 12px

     }

   

    
     }
    

     
     @media (min-width: 800px) { 

        #opener-div {
            width: 100px !important
        }

        
.suggested-question  {
    margin-left: 5px; margin-right: 4px;
}

        #header {
            right: 0px !important;
            top: 50px;
            right: 25px !important;
            bottom: 0px;
            transform: translate(0px, 0px) !important;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            max-width: 450px !important;
        }
        
        #widget {
            position: fixed;
            border-radius: 15px !important;
            height: calc(100vh - 135px);
            right: 25px !important;
            bottom: 85px;
            transform: translate(0px, 0px) !important;
            max-width: 450px !important;
            
        }

        #chat {
            border-radius: 15px !important;
            height: 100% !important;
            max-width: 450px !important;
        }
        #footer {
           right: 25px !important;
           border-bottom-left-radius: 15px;
           border-bottom-right-radius: 15px;
           bottom: 85px;
           max-width: 450px !important;
        }

        #suggested-questions {
            max-width: 440px !important;
        }

     }


input {
    color: rgba(0, 0, 0, 0.92)
}
p {
    font-size: 11px;
    opacity: 80%;
    margin: 0;
    margin-bottom: 2px
}


.simplebar-scrollbar {
    opacity: 50%;
  }


  .small-dot {
    font-size: 8px;
    margin-bottom: 2.5px;
    margin-left: 5px;
    margin-right: 5px;
  }

 svg {
    fill:none !
 }